/* General css */
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;


}

/* Header_Css_Starts_Here */

marquee{
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
    font-size: 16px;
    padding: 10px;
    color: red;
    background-color: goldenrod;
}

.logo{
    cursor: pointer;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: black;
    width:100%;
    height:70%;
}

.nav_links {
    margin: 0px;
    background-color:darkblue ;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding:20px 20px;
}   
.nav_links .toplinks{
    transition:all 0.3s ease 0s;
}
.nav_links .toplinks:hover{
    color:yellow;
}

.kimage{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    width:100%;
    height:70%;

}

.toplinks{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    margin: 0 80px;
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
    font-size:16px;
    color:#FFFFFF;
    font-weight:bold;
    background:#306;
    height:40px;
    width:145px;
    padding-right: 10px;
    text-decoration:none;
    border-right:1px solid red;
    border-radius: 7px;
    transition: 0.15;
    }
 
/* Head_Css_Ends_Here*/




  

/* About_Css_Starts_Here*/

.about{
    padding: 20px 20px;
    background-color: beige;
}
.about h1{
    font-family: 'Roboto', sans-serif;
    color: #8bcafd;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 32px;
    line-height: normal;
    padding: 10px;
    
}

.about p{
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.about img p{
    display:flex;
    justify-content: center;
    align-items: center;

}

.founderimg{
    margin: 10px 10px;
    padding:10px;
    width:200px;
    height:200px;
    border-radius: 20%;
    border: 2px solid #000;

}

.aboutflex{
    display:flex;
    justify-content: center;
    align-items: center;

}

/* About_Css_Ends_Here */







/* Footer_Css_Starts_Here*/


footer{
    background-color: #111;

}
.footercontainer{
    
    width: 100%;
    padding: 70px 30px 20px;
}

.SocialIcon{
    display: flex;
    justify-content: center;
}

.SocialIcon a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;

}
.SocialIcon a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.SocialIcon a:hover{
    background-color: #111;
    transition: 0.5s;
}

.SocialIcon a:hover i{
    color:white;
    transition: 0.5s;
}

.footernav{
    margin: 30px;
}

.footernav ul{
    display: flex;
    justify-content: center;
    list-style-type:none;

}

.footernav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footernav ul li a:hover{
    opacity:1;
}

.footerbottom{
    background-color: #000;
    padding:20px ;
    text-align: center;
}
.footerbottom p{
    color: white;
}

/* Footer_Css_Ends_Here*/


/* Home-Page_Css_Starts_Here*/

.Home-body{
    padding: 0;
    margin: 100px 200px;
    background-color: #Fffdd0;
    border-radius:10px;
    border: 2px solid #000;
    
    

}

.Home-body marquee{
    margin-top:30px;
    font-size: 30px;
    font-family:'Roboto', sans-serif ;
    font-weight: 500;
    color: #2a52be;
    background-color: white;

}

.slide-frame{
    overflow: hidden;
    height: 500px;
    width: 1100px;
    margin-left: 320px;
    margin-top: 20px;
    
}


@-webkit-keyframes slide_animation{
    0% {left:0px;}
    10% {left:0px;}
    20% {left:1200px;}
    30% {left:1200px;}
    40% {left:2400px;}
    50% {left:2400px;}
    60% {left:1200px;}
    70% {left:1200px;}
    80% {left:0px;}
    90% {left:0px;}
    100% {left:0px;}
}

.slide-images{
    width:3600px;
    height: 500px;
    margin: 0 0 0 -2400px;
    position:relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 33s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}

.img-container{
    height:800px;
    width: 1200px;
    position: relative;
    float: left;
    

}

/* Home-Page_Css_Ends_Here*/





/* Login-Page_Css_Starts_Here*/




/* Login-Page_Css_Ends_Here*/

/* Contact-Page_Css_Starts_Here*/
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("https://images.unsplash.com/photo-1629197238245-3c7497e96b41?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1142&q=80");
    background-size:cover;
    
    
}

.contact .content{
    max-width: 900px;
    text-align: center;
    padding-bottom: 50px;
    

}

.contact .content h2{
    font-size:36px;
    font-weight: 500;
    color:burlywood;
    padding-bottom: 30px;
}

.contact .content p{
    font-weight: 300;
    color:beige;
}

.contact-container{
    width:100%;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 40px 0px;
    
    
   
}

.contact-container .contactInfo{
    width:30%;
    display: flex;
    flex-direction: column;
}

.contact-container .contactInfo .box{
    position:relative;
    padding: 20PX 0;
    display: flex;
}

.contact-container .contactInfo .box .text{
    display: flex;
    margin-left:20px;
    font-size: 16px;
    color:beige;
    flex-direction: column;
    font-weight: 400;
}

.contact-container .contactInfo .box .text h3{
    font-weight: 700;
    color:wheat;
}



.contactform{
    width:30%;
    padding: 40px;
    background: #fff;
    border:2px solid #000;
    border-radius: 10px;

}

.contactform h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactform .inputBox{
    position: relative;
    width:100%;
    margin-top: 10px;

}

.contactform .inputBox input,
.contactform .inputBox textarea {
    width:100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border:none;
    border-bottom: 2px solid #333;
    outline: none;
    resize:none;
}

.contactform .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events:none;
    transition:0.5s;
    color:#666;
}

.contactform .inputBox input:focus ~ span,
.contactform .inputBox input:valid ~ span,
.contactform .inputBox textarea:focus ~ span,
.contactform .inputBox textarea:valid ~ span{
    color:#e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactform .inputBox input[type='submit']{
    width:100px;
    background: #00bcd4;
    color:#fff;
    border:none;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    border:2px solid #000;
}

/* Contact-Page_Css_Ends_Here*/